body{
    margin:20px;
}

.card{
    background-color: powderblue;
    margin:100px;
    display: flex;
    
}
.photo-side {
    
    width: 100%;



}
 img {
    padding-left:25%;
    padding-top:12%;
    
 }

.info-side {
    width: 100%;
    padding: 4%;
    height: 400px;
    
    text-align: left;
    
}
h1 {
    color:rgb(4, 4, 70);
    font-size: 40px;
    text-decoration: underline;
}
p {
    color:rgb(60, 60, 247);
    font-size: 24px;
    font-weight: 5px;
}
